@import '../variables';

.divs {
    margin: 30px 0 10px 15px;

    h2 {
        padding-bottom: 20px;
        font-weight: 900;
    }
    p {
        margin: 20px 0;
        font-size: 12px;
        font-weight: 500;
    }
}