@import './variables';

@media (min-width: 620px) {
    /*** This is the div container element..
    .container {

    }
    ***/
    /* Working on the header increase the height along with a higher px   ****/

    header {
        height: 160px;
        .head {
            margin-top: 90px;
        }
        h2 {
            font-size: 30px;
        }
        h4 {
            font-size: 14px;
        }
    }

    /* Adjusting the navigation button by the right hand side  ****/

    .menu-nav {
        .menu-btn {
            height: 50px;
            width: 50px;
            top: 16px;
            right: 16px;
            &__burger {
                height: 4px;
                width: 35px;
                right: 5px;
                top: 20px;
            }
        }
    }

    /****  Working on the various navbar headers, so the height increases along with the new view width ***/

    .intro, .intro--solution {
        height: 220px;
        h3 {
            font-size: 40px;
            padding-top: 130px;
        }
        &--home {
            h3 {
                padding-top: 10px;
            }
        }
    }
    
    /**** Adjusting the grid from two columns to three columns immediately the view width reaches 620px and above  ***/

    .article3 {
        height: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .i {
            border-bottom: 1px solid $grey;
            margin-bottom: 15px;
            p {
            font-size: 14px;
            }
        }
        div {
            margin-left: 10px;
        }
    }

    /*** Working on the paragraphs so as to make visible once the screen reaches 620px in width so as to show the hidden paragraph.. ****/
    .products__two {
        height: 1100px;
       &.gradient {
           height: 800px;
       }
        i {
            font-size: 55px;
            color: rgb(211, 230, 230);
        }
        &-cards {
            padding-left: 30px;
            height: 150px;
            border-bottom: 1px solid $grey;
            p {
                visibility: visible;
                font-size: 12px;
                margin-top: 10px;
            }

            span {
                font-size: 18px;
                font-weight: 800;
                padding: 0 0 15px 10px;
            }

        }

    /*** This makes the paragraph shrinks in width as it's better having the paragraph wrap and not just straight therefore straining the eyes while trying to read it ****/
        &--box {
            width: 50%;
        }
    }
    .sec-1 {
        p {
            width: 50%;
            font-size: 18px;
        }
        h2 {
            font-size: 30px;
        }
    }

    /****  Increasing the paragraoh and the header sizes so as to align with the new screen width. ****/
    .features, .sec-2, pa{
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 22px;
            color: $dark;
            font-weight: 500;
        }
    }
    /**** Styling the first paragraph underneath the header element ****/
    .para {
        p {
            padding: 45px 20px;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
        }
    }

    /**** Working on the "Products PAge" Increasing the h4 elements and the paragraoh font to fit in with the new screen width.. ***/
    
    .section--products {
        .card--products {
            h4 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    /*** Working on the FAQ page, increasing the font sizes of both the h3 elements and the paragragphs element...  ***/

    
    .divs {
        h2 {
            padding-bottom: 20px;
            font-weight: 900;
            font-size: 32px;
        }
        p {

            font-size: 14px;
            font-weight: 450;
        }
    }


    /*** Working on the "CAREER" page, increasing the font sizes of both the h3 elements and the paragragphs element ******/

    .div {
        padding: 40px 15px 20px;
        h2 {
            font-size: 35px;
            margin: 0 0 20px 0;
        }
        li {
            font-size: 14px;
            font-weight: 480;
        }
        p {
            margin: 15px 0;
            font-size: 14px;
            font-weight: 450;
            font-style: italic;
        }
    }

    /*** Working on the "About Us page", increasing the font sizes of both the h3 elements and the paragragphs element ****/

    .section--about {
        margin: 40px 20px 10px;
        font-size: 12px;
        p {
            padding: 15px 0;
        }
        h2 {
            font-size: 30px;
            margin: 0 0 15px;
        }
        img {
            width: 90%;
            margin: 10px 5%;
        }
        a {
            color: darken($secondary-color, 30);
            &:hover {
                text-decoration: none;
            }
        }
        li {
            margin: 4px 0 0 40px;
            font-weight: 500;
        }
    }
    
    .press {
        h2 {
            font-size: 38px;
        }
        li {
            font-size: 14px;
            font-weight: 480;
        }
    }
    
    .about--text__images {
        grid-template-columns: 1fr 1fr;
        img {
            height: 300px;
        }
    }
    .about--awards {
        h2 {
            font-size: 38px;
        }
    }
}

@media(min-width: 720px) {

    /**** Working on making the header height bigger and adjusting the grid template columns to make the sidebar wider than the H1 //frizzgamings box ****/
    header {
        height: 200px;
        display: grid;
        grid-template-columns: 3fr 7fr;
    } 

    /**** Adjusting the navbar with the menu icon to have larger part than the logo so as to accomodate the navbar links ****/

    .head2 {
        display: grid;
        grid-template-rows: 1fr 2fr;
        width: 70vw;
        height: 100%;
        background-color: rgb(17, 14, 14);
    }

    /***** Making the menu button visibility hidden ****/
    .menu-btn {
        visibility: hidden;
    }

    /**** Working on making the navbar display inline and removing the background color etc, and making it align properly at the top of the page.. **/
    nav {
        position: absolute;
        background-color: transparent;
        visibility:visible;
        margin: 70px 5px 0 0;
        width: 70%;
        height: 100px;
        padding: -40px 0;
        text-align: center;
        li {
            display: inline;
            font-size: 15px;
            font-weight: 500;
            border-bottom: none;
            padding:0 0 0 10px;
            margin: -10px 8px 0 0;
            &:hover {
                background-color: rgb(46, 238, 238);
            }  
        }
        .menu {
           visibility: hidden;
        }
       
    }

    /**** Shifting the contact numbers and social media links to the top of the page beside the website name ****/

    .contact {
        height: 60px;
        width: 50%;
        margin: -200px 0 140px 30%;
        &.contact--hide {
            display: block;
        }
        ul {
            padding: 10px 10px 0 0;
        }
        li {
            display: inline;
            a {
                color: $primary-color;
                &:hover {
                    background-color: #12d0e9;
                    padding: 4px;
                    transition: ease-in 300ms;
                }
            }
        }
    }

    /*** Making the image by the right handside smaller and shifting it to the right to accomodate the contact numbers  ****/

    .head2 .img img {
        width: 20px;
        height: 20px;
        margin:5px 5% 0 90%;
    }

    /*** Aligning the index's page element underneath the contact element to align it differently than the rest of other elemnts it shared classname with.. ****/
    .intro--home {
        padding-left: 60px;
        h3 {
            font-size: 25px;
            
        }
        p {
            font-size: 16px;
            width: 50%;
        }
    }

    /*** Working on making the Headings bolder ****/

    .products {
        h2 {
            font-size: 38px;
        }
        p {
            width: 50%;
        }
        &__two--box {
            width: 100%;
            h2 {
                font-size: 40px;
            }
            p {
                width: 50%;
            }
        }
    }

    /*** Working on the headings and paragraphs to adjust to the current screen size ****/

    .top--game {
        padding: 30px 0 100px;
        h2 {
            font-size: 38px;
        }
        p {
            width: 50%;
            font-size: 18px;
        }
    }

    /**** Making the H2 element word be on a single line instead of wrapping it up on two lines  ****/

    .providers {
        div h2 {
            font-size: 75px;
        }
    }

    /**** Giving additional space to this specific element.. ****/

    .top--clients {
        padding: 30px 0 10px;
        h2 {
            font-size: 38px;
        }
        p {
            width: 50%;
            font-size: 18px;
        }
    }
    
    /***** Adjusting the form element by increasing the h2 font-size, and changing the color etc..  *****/

    .register .contact-us {
        h2 {
            color: $primary-color;
            font-size: 54px;
        }
        li {
            padding: 10px 0;
            
            i {
                font-size: 26px;
                border-radius: 20%;
            }
        }
    }
}

@media (min-width: 800px) {

    /**** Using the grid template column to make the contact us and the form align side by side instead of just aligning vertically.. *****/

   .register {
       display: grid;
       grid-template-columns: 1fr 1fr;
       .contact-us h2 {
        font-size: 42px;
       }
   }
}

@media (min-width: 920px) {

    /*** Reducing the header height so it can align with the current screen width, and also make it appear more attractive sine the width has increased, the height should decrease.. ***/

    header {
        height: 150px;
        display: grid;
        grid-template-columns: 3fr 7fr;
        .head {
            margin-top: 70px;
        }
    } 

    /**** Adjusting the navbar with the menu icon to have larger part than the logo so as to accomodate the navbar links ****/

    .head2 {
        grid-template-rows: 2fr 3fr;
    }

    nav {
        margin: 30px 5px 0 0;
        padding: -40px 0;  
    }

    .contact {
        margin: -156px 0 96px 30%;
    }

    .intro--home {
        padding: 40px 0 0 160px;
        h3 {
            font-size: 35px;
            
        }
        p {
            font-size: 20px;
            width: 70%;
        }
    }

    /**** Adjusting the cards so they can appear four on a roll since the current screen size can accomodate the four at once.. ***/

    .article {
        grid-template-columns: repeat(4, 1fr);

        /***** Adjusting this to appear 6 in a row  ****/

        &3 {
            grid-template-columns: repeat(6, 1fr);
        } 
        /******* Increased the Cards height *****/
        .cards {
            height: 240px;
        }
        .compare {
            margin: 30px 0 35px;
        }
    }

    /**** Adjusted the the height of the gradient class individually..  ****/
    .products__two {
        &.gradient {
            height: 440px;
        }

        /*** Made it align side to side instead of aligning vertically, the current screen is wide enough to accomodate them both ***/
        &--box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            p {
                padding-top: 30px;
                width: 70%;
            }
        }
    }

    /**** Working on aligning the two elements horizontally.. ****/
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        p {
            padding-top: 50px;
            width: 70%;
        }
    }

    /**** After aligning them on columns, had to put a padding to space the element below a little ***/
    .brands {
        padding: 40px 0 0
    }
}

@media (min-width: 1120px) {
    .width--one {
        width: 80%;
        margin: 0 auto;
    }
    .intro--home {
        padding: 50px 0 50px 240px;
        p {
            font-size: 20px;
            width: 60%;
            font-weight: 650;
        }
    }
    .products {
        padding-bottom: 40px;
    }
    .products__two .article2 {
        margin: 0 auto;
    }
    .feedback {
        background: $primary-color;
        color: $dark;
        width: 60%;
    }
    /*** Adjusting the solution nav bar  ****/
    .platform p {
        width: 60%;
        font-size: 18px;
        padding: 0 0 10px 0;
    }
    table {
        margin-bottom: 40px;
    }
    .sec-1, .sec-2, .features{
        margin: 30px auto;
    }

    /*** Working on the Product nav media query ****/
    .article {
        margin: 40px auto;
    }

    /*** Putting space below the last element before the footer of the career nav page.. ****/
    .about--fundamental {
        margin-bottom: 30px;
    }
}