@import './variables';

@media (min-width: 680px) {
    .container {
        background: $secondary-color;
    }
    .article3 {
        height: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .i {
            border-bottom: 1px solid $grey;
            margin-bottom: 15px;
        p {
            font-size: 14px;
        }
    
        div {
            margin-left: 10px;
        }
    }}
}