* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  background: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  body.open {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.972), rgba(0, 0, 0, 0.918)); }

.container {
  background-color: white;
  width: 100%; }

header {
  background: url("images/img2.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: cyan;
  height: 120px;
  width: 100%;
  color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 9fr 1fr;
  color: red; }
  header .head {
    text-align: center;
    margin-top: 50px; }
  header h4 {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px; }

nav {
  position: fixed;
  top: 1px;
  right: 0;
  width: 140px;
  height: 120vw;
  background-color: white;
  visibility: hidden; }
  nav.open {
    visibility: visible; }
  nav li {
    font-size: 13px;
    font-weight: 500;
    list-style-type: none;
    border-bottom: 1px solid cyan;
    padding: 11px; }
    nav li:hover {
      background-color: darkcyan;
      transition: ease-in 100ms; }
    nav li img {
      width: 20px;
      height: 20px;
      border-radius: 50%; }
  nav .menu {
    background-color: black;
    color: white;
    padding: 9px; }
  nav .english {
    padding: 3px;
    margin-top: 180px;
    font-weight: 700; }
  nav a {
    text-decoration: none;
    color: black; }

.head2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 13vw;
  height: 100%;
  background-color: #110e0e; }
  .head2 .img {
    height: 100%;
    width: 100%;
    background-color: #336c74; }
    .head2 .img img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 5px 32% 0 32%; }
  .head2 .menu-nav {
    height: 100%;
    width: 100%;
    background-color: cyan;
    position: relative; }
  .head2 .menu-btn {
    height: 30px;
    width: 30px;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1; }
    .head2 .menu-btn.open {
      position: absolute;
      top: -60px;
      right: 140px;
      background-color: transparent; }
    .head2 .menu-btn__burger {
      position: absolute;
      top: 13px;
      right: 0;
      width: 28px;
      height: 3px;
      background-color: #1a4e4e;
      cursor: pointer;
      transition: ease-in 500ms; }
      .head2 .menu-btn__burger.open {
        transform: rotate(180deg);
        background-color: transparent; }
        .head2 .menu-btn__burger.open:before {
          transform: rotate(45deg) translate(5px, 8px);
          transition: ease-in 500ms;
          background-color: red; }
        .head2 .menu-btn__burger.open:after {
          transform: rotate(-45deg) translate(3px, -7px);
          transition: ease-in 500ms;
          background-color: red; }
      .head2 .menu-btn__burger:before {
        position: absolute;
        content: '';
        top: -8px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #1a4e4e;
        transition: ease-in 500ms; }
      .head2 .menu-btn__burger:after {
        position: absolute;
        content: '';
        top: 8px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #1a4e4e;
        transition: ease-in 500ms; }
        .head2 .menu-btn__burger:after.open {
          transform: rotate(45deg) translate(5px, 8px);
          transition: ease-in 500ms; }

.contact {
  height: 185px;
  width: 100%;
  background: #041f20; }
  .contact ul {
    padding-top: 30px; }
  .contact li {
    text-align: center;
    line-height: 26px; }
    .contact li i {
      font-size: 20px;
      color: red; }
    .contact li a {
      color: white;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500; }
      .contact li a:hover {
        background-color: #24585f;
        padding: 4px; }

.intro {
  height: 170px;
  width: 100%;
  background: url("images/img8.jpeg");
  background-size: cover;
  background-position: center;
  color: white; }
  .intro h3 {
    font-size: 20px;
    padding: 30px 0 20px 25px; }
  .intro p {
    font-size: 13px;
    padding: 0 14px 0 25px;
    font-weight: 600; }

.products, .products__2 {
  height: 130px;
  width: 100%;
  margin-bottom: 40px; }
  .products h2, .products__2 h2 {
    font-size: 26px;
    font-weight: 900;
    padding: 30px 0 15px 25px; }
  .products p, .products__2 p {
    font-size: 14px;
    color: grey;
    padding: 0 14px 0 25px;
    font-weight: 600; }
    .products p span, .products__2 p span {
      color: #348585; }

.article {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .7em; }
  .article .cards {
    height: 200px;
    width: 100%;
    background-color: #42e7e7; }
    .article .cards:hover, .article .cards .compare:hover {
      background-color: #3bb4b4; }
    .article .cards a {
      padding-left: 15px;
      color: black;
      text-decoration: none; }
      .article .cards a:hover {
        padding-left: 20px;
        transition: ease-in 200ms; }
      .article .cards a h3 {
        padding: 5px 0 10px 15px; }
      .article .cards a p, .article .cards a a {
        font-size: 11px;
        padding: 0 0 40px 15px; }
      .article .cards a .a {
        font-size: 10px; }
  .article .compare {
    margin: 30px 0 35px;
    background-color: #42e7e7; }
    .article .compare a {
      text-decoration: none;
      color: black; }
  .article .hide {
    visibility: hidden; }

.products__two {
  background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url("images/img8.jpeg") center center no-repeat;
  background-size: cover;
  background-position: center;
  height: 560px;
  width: 100%;
  color: white;
  margin-bottom: 40px; }
  .products__two i {
    font-size: 35px;
    color: #d3e6e6; }
  .products__two h2 {
    font-size: 26px;
    font-weight: 900;
    padding: 30px 0 15px 25px; }
  .products__two p {
    font-size: 14px;
    color: white;
    padding: 0 14px 0 25px;
    font-weight: 600;
    margin-bottom: 50px; }
    .products__two p span {
      color: #44b4b4; }
  .products__two .article2 {
    margin: 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7em; }
  .products__two-cards {
    padding-left: 30px;
    height: 50px;
    border-bottom: 1px solid grey; }
    .products__two-cards span i {
      height: 180px;
      width: 180px;
      color: red; }
  .products__two a {
    text-decoration: none;
    color: white;
    font-weight: 600; }

section h2 {
  margin: 0 0 12px 30px;
  font-weight: 800; }
section p {
  font-size: 12px;
  margin: 0 0 50px 30px;
  color: grey;
  font-weight: 700; }
section .brands i {
  font-size: 60px;
  color: #141313;
  padding: 15px; }
section .brands-2 i {
  font-size: 80px;
  color: #a52d2d;
  padding: 18px; }

.providers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .providers h2 {
    font-size: 40px;
    font-weight: 500;
    border-bottom: 1px solid grey;
    padding-bottom: 10px; }
  .providers span {
    margin: 0 0 30px 30px; }
  .providers div {
    margin-bottom: 20px; }
  .providers-section {
    background-color: rgba(218, 216, 216, 0.609);
    height: 460px;
    margin-bottom: 20px; }
    .providers-section h2 {
      color: rgba(0, 0, 0, 0.856); }

.feedback {
  margin: 30px 0;
  background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url("images/img2.jpeg");
  background-position: center;
  background-size: cover;
  font-size: 16px;
  font-weight: 600;
  height: 240px;
  color: white; }

.gradient {
  background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url("images/img5.jpeg");
  background-size: cover;
  background-position: center;
  height: 700px; }

.article3 {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .article3 .i {
    border-bottom: 1px solid grey;
    margin-bottom: 15px; }
    .article3 .i i {
      margin: 0 0 20px 10px; }
  .article3 p {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 25px 0; }
  .article3 div {
    margin-left: 10px; }

.register {
  height: 800px;
  background: linear-gradient(rgba(14, 216, 223, 0.712), rgba(7, 243, 231, 0.712), rgba(36, 245, 200, 0.712)), url("images/img9.jpeg");
  background-size: cover;
  background-position: center; }
  .register .contact-us {
    margin: 0 0 30px 60px;
    padding: 80px 0 0 40px; }
    .register .contact-us h1 {
      color: grey;
      font-size: 50px;
      font-weight: 900; }
    .register .contact-us ul {
      padding-top: 30px; }
    .register .contact-us li {
      text-align: center;
      line-height: 26px;
      list-style-type: none; }
      .register .contact-us li i {
        font-size: 22px;
        background-color: grey;
        border-radius: 50%;
        color: white;
        margin-left: -30px; }
      .register .contact-us li a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500; }
  .register .form {
    height: 420px;
    width: 300px;
    background-color: rgba(30, 228, 211, 0.698);
    margin-left: 30px; }
  .register label, .register textarea {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 5%;
    padding-top: 10px; }
    .register label span, .register textarea span {
      color: grey; }
  .register input, .register textarea {
    width: 90%;
    height: 30px;
    border-radius: .8em;
    margin: 0 0 0 5%; }
  .register textarea {
    height: 100px; }
  .register button {
    background-color: #8d2121;
    color: white;
    width: 40%;
    border-radius: .8em;
    height: 30px;
    margin: 0 0 0 5%; }

/*# sourceMappingURL=style.css.map */
