* {
    margin: 0;
    padding: 0;
}

@import './variables';
@import './solution/solution';
@import './products/products';
@import './games/game';
@import './news/news';
@import './faq/faq';
@import './careers/careers';
@import './about/about';
@import './contact/contact';
@import './mediaqueries';


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //overflow-x: hidden;
    &.open {
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0.972), rgba(0, 0, 0, 0.918),);
    }
}

.container {
    background-color: $primary-color;
    width: 100%;
}


header {
    background: linear-gradient(rgba(102, 32, 149, 0.7), rgba(218, 9, 9, 0.7), rgba(19, 14, 14, 0.7)), url('images/img2.jpeg');
    background-size: cover;
    background-position: center;
    background-color: $secondary-color;
    height: 120px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    color: $burger-color;
    .head {
        text-align: center;
        margin-top: 50px;
        h2 {
            color: $primary-color;
            font-weight: 1400;
        }
        h4 {
            color:$dark;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 11px;
        }
    }
} 

nav {
    position: fixed;
    top: 1px;
    right: 0;
    //width: 140px;
    //height:120vw;
    background-color: $primary-color;
    visibility: hidden;
    &.open {
        visibility: visible;
    }
    li {
        font-size: 13px;
        font-weight: 500;
        list-style-type: none;
        border-bottom: 1px solid $secondary-color;
        padding: 11px;
        &:hover {
            background-color: darkcyan;
            transition: ease-in 100ms;
        }
        &.active {
            background-color: darken($secondary-color, 30);
            color: $primary-color;
        }
        
        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
    .menu {
        background-color: $dark;
        color: $primary-color;
        padding: 9px;
    }
    .english {
        padding: 3px;
        margin-top: 180px;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: $dark;
    }
}

.head2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 13vw;
    height: 100%;
    background-color: rgb(17, 14, 14);
    .img {
        height: 100%;
        width: 100%;
        background-color: rgb(51, 108, 116);
        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin:5px 32% 0 32%;
        }
    }

    .menu-nav {
        height: 100%;
        width: 100%;
        background-color: $secondary-color;
        position: relative;
    }
    .menu-btn {
        height: 30px;
        width: 30px;
        background-color: transparent;
        position: absolute;
        top: 12px;
        right: 20px;
        z-index: 1;
        &.open {
            position: absolute;
            top: -60px;
            right: 140px;
            background-color: transparent;
        }
        &__burger {
            position: absolute;
            top: 13px;
            right: 0;
            width: 28px;
            height: 3px;
            background-color: $burger;
            cursor: pointer;
            transition: ease-in 500ms;
            &.open {
                transform: rotate(180deg);
                background-color: transparent;
                &:before {
                    transform: rotate(45deg) translate(5px, 8px);
                    transition: ease-in 500ms;
                    background-color: $burger-color;
                }
                &:after {
                    transform: rotate(-45deg) translate(3px, -7px);
                    transition: ease-in 500ms;
                    background-color: $burger-color;
                }
            }
            &:before {
                position: absolute;
                content: '';
                top: -8px;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: $burger;
                transition: ease-in 500ms;
            }
            &:after {
                position: absolute;
                content: '';
                top: 8px;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: $burger ;
                transition: ease-in 500ms;
                &.open {
                    transform: rotate(45deg) translate(5px, 8px);
                    transition: ease-in 500ms;
                }
            }
        }
    }
}

.contact {
    height: 155px;
    width: 100%;
    background: rgba(255, 1, 200, 0.37);
    &.contact--hide {
        display: none;
    }
    ul {
        padding-top: 30px;
    }
    li {
        text-align: center;
        line-height: 26px;
        i {
            font-size: 20px;
            color: red;
        }
        a {
            color: $dark;
            text-decoration: none;
            font-size: 13px;
            font-weight: 500;
            &:hover {
                background-color: #24585f;
                padding: 4px;
            }
        }
    }
}

.intro {
    height: 170px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/img8.jpeg');
    background-size: cover;
    background-position: center;
    color: $primary-color;
    a {
        color: $secondary-color;
        border-bottom: 1px solid darken($primary-color, 40);
        text-decoration: none;
        &:hover {
            border-bottom: 1px solid $secondary-color;
            color: $secondary-color;
        }
    }

    h3 {
        font-size: 20px;
        padding: 30px 0 20px 25px;
    }
    p {
        font-size: 13px;
        padding:0 14px 0 25px;
        font-weight: 600;
        color: $primary-color;
    }
}

.products, .products__2 {
    height: 130px;
    width: 100%;
    margin-bottom: 40px;
    h2 {
        font-size: 26px;
        font-weight: 900;
        padding: 30px 0 15px 25px;
    }
    p {
        font-size: 14px;
        color: grey;
        padding:0 14px 0 25px;
        font-weight: 600;
        span {
            color: rgb(52, 133, 133);
        }
    }
}

.article {
    margin: 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7em;
    .cards {
        height: 200px;
        width:100%;
        background-color: rgb(66, 231, 231);
        &:hover, .compare:hover {
            background-color: rgb(59, 180, 180);
        }
        a {
            &:hover {
                padding-left: 20px;
                transition: ease-in 200ms;
            }
            padding-left: 15px;
            color: black;
            text-decoration: none;
            h3 {
                padding:5px 0 10px 15px;
            }
            p, a {
                font-size: 11px;
                padding:0 0 40px 15px;
            }
            .a {
                font-size: 10px;
            }
        }
    }
    .compare {
        margin: -30px 0 35px;
        background-color: rgb(66, 231, 231);
        a {
            text-decoration: none;
            color: $dark;
        }
        &.hide {
            visibility: hidden;
        }
    }
}

.products__two {
    background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url('images/img8.jpeg') center center no-repeat;
    background-size: cover;
    background-position: center;
    height: 580px;
    width: 100%;
    color: $primary-color;
    margin-bottom: 40px;
    &.gradient {
        background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url('images/img5.jpeg');
        background-size: cover;
        background-position: center;
        height: 700px;
    }
    i {
        font-size: 35px;
        color: rgb(211, 230, 230);
    }
    h2 {
        font-size: 26px;
        font-weight: 900;
        padding: 30px 0 15px 25px;
    }
    p {
        font-size: 14px;
        color: $primary-color;
        padding:0 14px 0 25px;
        font-weight: 600;
        margin-bottom: 50px;
        span {
            color: rgb(68, 180, 180);
        }
    }
    .article2 {
        margin: 10px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .7em;
    }
    &-cards {
        padding-left: 30px;
        height: 50px;
        border-bottom: 1px solid $grey;
        &--box {
            width: 100%;
        }
        p {
            visibility: hidden;
        }
        span i{
            height: 180px;
            width: 180px;
            color: red;
        }
    }

    a {
        text-decoration: none;
        color: $primary-color;
        font-weight: 600;
    }
}

section {

    h2{
        margin: 0 0 12px 30px;
        font-weight: 800;
    }
    p {
        font-size: 12px;
        margin:0 0 50px 30px;
        color: $grey;
        font-weight: 700;
    }
    .brands{
        i {
            font-size: 60px;
            color: rgb(20, 19, 19);
            padding: 15px;
        }
        
    }
    .brands-2 {
        i {
            font-size: 80px;
            color: rgb(165, 45, 45);
            padding: 18px;
        }
    }
}


.providers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h2 {
        font-size: 40px;
        font-weight: 500;
        border-bottom: 1px solid $grey;
        padding-bottom: 10px;
    }
    span {
        margin:0 0 30px 30px;
    }
    div {
        margin-bottom: 20px;
    }
    &-section {
        background-color: rgba(218, 216, 216, 0.609);
        height: 460px;
        margin-bottom: 20px;
        h2 {
            color: rgba(0, 0, 0, 0.856);
        }
    }
}

.feedback {
    margin: 30px 0;
    background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url('images/img2.jpeg');
    background-position: center;
    background-size: cover;
    font-size: 16px;
    font-weight: 600;
    height: 300px;
    align-content: center;
    color: $primary-color;
    p {
        padding: 50px 20px 0;
    }
}


.article3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .i {
        border-bottom: 1px solid $grey;
        margin-bottom: 15px;
        i {
            margin: 0 0 20px 10px;
        }
    }
    p {
        font-size: 12px;
        font-weight: 500;
        margin: 0 0 25px 0;
    }

    div {
        margin-left: 10px;
    }
}

.register {
    background: linear-gradient(rgba(14, 216, 223, 0.712), rgba(7, 243, 231, 0.712), rgba(36, 245, 200, 0.712)), url('images/img9.jpeg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    
    .contact-us {
        width: 60%;
        margin: 0 auto;
        h2 {
            color: $grey;
            font-size: 50px;
            font-weight: 900;
            
        }
        ul {
            padding-top: 30px;
        }
        li {
            text-align: center;
            line-height: 26px;
            list-style-type: none;
            
            i {
                font-size: 22px;
                background-color: $grey;
                border-radius: 50%;
                color: $primary-color;
                margin-left: -30px;
            }
            a {
                color: $primary-color;
                text-decoration: none;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }

    .form {
        width: 300px;
        background-color: rgba(235, 241, 241, 0.911);
        margin: 0 auto;
        border-radius: .9em;
    }
    label, textarea {
        display: block;
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 0 5%;
        padding-top: 10px;
        span {
            color: $grey;
        }

    }
    input, textarea{
        width: 90%;
        height: 30px;
        border-radius: .8em;
        margin:0 0 0 5%;
    }
    textarea {
        height: 100px ;
    }

    button {
        background-color: $secondary-color;
        color: $dark;
        width: 40%;
        border-radius: .8em;
        height: 30px;
        margin:0 0 5% 5%;
        cursor: pointer;
        &:hover {
            background-color: $dark;
            color: $secondary-color;
            transition: ease-in 300ms;
        }
    }
}

.section-last {
    background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.829)), url('images/img5.jpeg') ;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 1px;
    h3 {
        font-size: 16px;
        color: $primary-color;
        margin: 0 20px 15px 20px;
        padding: 30px 0 5px 0;
        border-bottom: 2px solid $grey;
    }
}

.solution, .product, .game-provider, .about-us, .legal {
    li {
        list-style-type: none;
        a {
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        margin: 0 20px 15px 20px;
        color: $grey;
            &:hover {
            color: darken($secondary-color, 8);
            }
        }
    }   
}


footer {
    background-color: rgb(226, 19, 164);
    color: $primary-color;
    text-align: center;
    font-weight: 500;
    span {
        font-weight: 300;
    }
}

@import './mediaqueries';