* {
  margin: 0;
  padding: 0; }

.intro--solution {
  height: 150px;
  width: 100%;
  color: white; }
  .intro--solution h3 {
    font-size: 35px;
    padding: 70px 0 20px 25px; }

.platform {
  height: 160px;
  padding: 50px 0 0;
  background: #e6e6e6; }
  .platform p {
    font-size: 15px;
    padding: 0px 40px 0; }

.sec-1 {
  margin-top: 30px; }
  .sec-1 h2 {
    font-weight: 800; }

.article {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .7em; }
  .article .card {
    height: 120px;
    width: 100%;
    background-color: #42e7e7; }
    .article .card:hover, .article .card .compare:hover {
      background-color: #3bb4b4; }
    .article .card a {
      padding-left: 15px;
      color: black;
      text-decoration: none; }
      .article .card a:hover {
        padding-left: 20px;
        transition: ease-in 200ms; }
      .article .card a h3 {
        padding: 5px 0 10px 15px; }
      .article .card a p, .article .card a a {
        font-size: 11px;
        padding: 0 0 40px 15px; }

.features {
  margin-top: 40px; }

table {
  font-size: 10px;
  width: 100%; }
  table thead {
    color: grey; }
  table tbody th {
    width: 20%;
    background-color: cyan;
    color: white;
    padding: 20px; }
  table tbody tr i {
    font-size: 30px;
    background-color: #0de90d;
    border-radius: 10px;
    color: white; }
  table tbody tr:nth-child(odd) {
    background-color: #f3f3f3; }
  table tbody tr th:nth-child(odd) {
    background-color: #006666; }

.sec-2 {
  margin: 60px 0 40px; }
  .sec-2 h2 {
    font-size: 30px;
    margin-bottom: 20px; }
  .sec-2 p {
    font-size: 18px;
    padding-right: 30px;
    color: black;
    font-weight: 500; }

.pa {
  padding: 30px 15px 0;
  margin-bottom: 30px; }

.art {
  padding-bottom: 60px; }

.intro--products {
  height: 150px;
  width: 100%;
  color: white; }
  .intro--products h3 {
    font-size: 35px;
    padding: 70px 0 20px 25px; }

.para {
  background-color: #e6e6e6; }
  .para p {
    padding: 40px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px; }

.section--products {
  margin-bottom: 60px; }
  .section--products .card--products {
    margin: 45px 10px 0 25px; }
    .section--products .card--products a {
      color: #006666; }
      .section--products .card--products a:hover {
        text-decoration: none; }
    .section--products .card--products p {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 500; }

.intro--news {
  height: 200px;
  color: white; }
  .intro--news div {
    font-size: 30px;
    padding: 40px 120px 30px; }
    .intro--news div a {
      font-size: 14px;
      text-decoration: none;
      padding-left: 40px;
      color: #00b3b3; }

.para--news {
  height: 100px;
  padding: 40px 0 0 0; }

.divs {
  margin: 30px 0 10px 15px; }
  .divs h2 {
    padding-bottom: 20px;
    font-weight: 900; }
  .divs p {
    margin: 20px 0;
    font-size: 12px;
    font-weight: 500; }

.div {
  padding: 40px 15px 20px; }
  .div h2 {
    font-weight: 900;
    margin-bottom: 40px; }
  .div li {
    list-style-type: disc;
    margin-left: 60px;
    font-size: 12px;
    font-weight: 450; }
  .div a {
    color: #006666; }
    .div a:hover {
      text-decoration: none; }
  .div p {
    margin: 15px 0;
    font-size: 12px;
    font-weight: 500; }
  .div strong ~ li {
    margin-top: 20px; }

.section--about {
  margin: 40px 20px 10px; }
  .section--about p {
    padding: 15px 0;
    font-size: 16px;
    line-height: 22px; }
  .section--about h2 {
    font-size: 30px;
    margin: 0 0 15px; }
  .section--about img {
    width: 90%;
    margin: 10px 5%; }
  .section--about a {
    color: #006666; }
    .section--about a:hover {
      text-decoration: none; }
  .section--about li {
    margin: 4px 0 0 40px;
    font-weight: 500; }

.about--text__images {
  display: grid; }

.about--awards {
  margin: 40px 0 30px; }

.press {
  margin-bottom: 40px; }

.about--fundamental h2 {
  font-size: 26px; }
.about--fundamental li {
  margin-top: 20px; }

@media (min-width: 620px) {
    /*** This is the div container element..
    .container {

    }
    ***/
  /* Working on the header increase the height along with a higher px   ****/
  header {
    height: 160px; }
    header .head {
      margin-top: 90px; }
    header h2 {
      font-size: 30px; }
    header h4 {
      font-size: 14px; }

  /* Adjusting the navigation button by the right hand side  ****/
  .menu-nav .menu-btn {
    height: 50px;
    width: 50px;
    top: 16px;
    right: 16px; }
    .menu-nav .menu-btn__burger {
      height: 4px;
      width: 35px;
      right: 5px;
      top: 20px; }

  /****  Working on the various navbar headers, so the height increases along with the new view width ***/
  .intro, .intro--solution {
    height: 220px; }
    .intro h3, .intro--solution h3 {
      font-size: 40px;
      padding-top: 130px; }
    .intro--home h3, .intro--solution--home h3 {
      padding-top: 10px; }

  /**** Adjusting the grid from two columns to three columns immediately the view width reaches 620px and above  ***/
  .article3 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .article3 .i {
      border-bottom: 1px solid grey;
      margin-bottom: 15px; }
      .article3 .i p {
        font-size: 14px; }
    .article3 div {
      margin-left: 10px; }

  /*** Working on the paragraphs so as to make visible once the screen reaches 620px in width so as to show the hidden paragraph.. ****/
  .products__two {
    height: 1100px;
    /*** This makes the paragraph shrinks in width as it's better having the paragraph wrap and not just straight therefore straining the eyes while trying to read it ****/ }
    .products__two.gradient {
      height: 800px; }
    .products__two i {
      font-size: 55px;
      color: #d3e6e6; }
    .products__two-cards {
      padding-left: 30px;
      height: 150px;
      border-bottom: 1px solid grey; }
      .products__two-cards p {
        visibility: visible;
        font-size: 12px;
        margin-top: 10px; }
      .products__two-cards span {
        font-size: 18px;
        font-weight: 800;
        padding: 0 0 15px 10px; }
    .products__two--box {
      width: 50%; }

  .sec-1 p {
    width: 50%;
    font-size: 18px; }
  .sec-1 h2 {
    font-size: 30px; }

  /****  Increasing the paragraoh and the header sizes so as to align with the new screen width. ****/
  .features h2, .sec-2 h2, pa h2 {
    font-size: 30px; }
  .features p, .sec-2 p, pa p {
    font-size: 22px;
    color: black;
    font-weight: 500; }

  /**** Styling the first paragraph underneath the header element ****/
  .para p {
    padding: 45px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; }

  /**** Working on the "Products PAge" Increasing the h4 elements and the paragraoh font to fit in with the new screen width.. ***/
  .section--products .card--products h4 {
    font-size: 22px; }
  .section--products .card--products p {
    font-size: 14px; }

  /*** Working on the FAQ page, increasing the font sizes of both the h3 elements and the paragragphs element...  ***/
  .divs h2 {
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 32px; }
  .divs p {
    font-size: 14px;
    font-weight: 450; }

  /*** Working on the "CAREER" page, increasing the font sizes of both the h3 elements and the paragragphs element ******/
  .div {
    padding: 40px 15px 20px; }
    .div h2 {
      font-size: 35px;
      margin: 0 0 20px 0; }
    .div li {
      font-size: 14px;
      font-weight: 480; }
    .div p {
      margin: 15px 0;
      font-size: 14px;
      font-weight: 450;
      font-style: italic; }

  /*** Working on the "About Us page", increasing the font sizes of both the h3 elements and the paragragphs element ****/
  .section--about {
    margin: 40px 20px 10px;
    font-size: 12px; }
    .section--about p {
      padding: 15px 0; }
    .section--about h2 {
      font-size: 30px;
      margin: 0 0 15px; }
    .section--about img {
      width: 90%;
      margin: 10px 5%; }
    .section--about a {
      color: #006666; }
      .section--about a:hover {
        text-decoration: none; }
    .section--about li {
      margin: 4px 0 0 40px;
      font-weight: 500; }

  .press h2 {
    font-size: 38px; }
  .press li {
    font-size: 14px;
    font-weight: 480; }

  .about--text__images {
    grid-template-columns: 1fr 1fr; }
    .about--text__images img {
      height: 300px; }

  .about--awards h2 {
    font-size: 38px; } }
@media (min-width: 720px) {
  /**** Working on making the header height bigger and adjusting the grid template columns to make the sidebar wider than the H1 //frizzgamings box ****/
  header {
    height: 200px;
    display: grid;
    grid-template-columns: 3fr 7fr; }

  /**** Adjusting the navbar with the menu icon to have larger part than the logo so as to accomodate the navbar links ****/
  .head2 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 70vw;
    height: 100%;
    background-color: #110e0e; }

  /***** Making the menu button visibility hidden ****/
  .menu-btn {
    visibility: hidden; }

  /**** Working on making the navbar display inline and removing the background color etc, and making it align properly at the top of the page.. **/
  nav {
    position: absolute;
    background-color: transparent;
    visibility: visible;
    margin: 70px 5px 0 0;
    width: 70%;
    height: 100px;
    padding: -40px 0;
    text-align: center; }
    nav li {
      display: inline;
      font-size: 15px;
      font-weight: 500;
      border-bottom: none;
      padding: 0 0 0 10px;
      margin: -10px 8px 0 0; }
      nav li:hover {
        background-color: #2eeeee; }
    nav .menu {
      visibility: hidden; }

  /**** Shifting the contact numbers and social media links to the top of the page beside the website name ****/
  .contact {
    height: 60px;
    width: 50%;
    margin: -200px 0 140px 30%; }
    .contact.contact--hide {
      display: block; }
    .contact ul {
      padding: 10px 10px 0 0; }
    .contact li {
      display: inline; }
      .contact li a {
        color: white; }
        .contact li a:hover {
          background-color: #12d0e9;
          padding: 4px;
          transition: ease-in 300ms; }

  /*** Making the image by the right handside smaller and shifting it to the right to accomodate the contact numbers  ****/
  .head2 .img img {
    width: 20px;
    height: 20px;
    margin: 5px 5% 0 90%; }

  /*** Aligning the index's page element underneath the contact element to align it differently than the rest of other elemnts it shared classname with.. ****/
  .intro--home {
    padding-left: 60px; }
    .intro--home h3 {
      font-size: 25px; }
    .intro--home p {
      font-size: 16px;
      width: 50%; }

  /*** Working on making the Headings bolder ****/
  .products h2 {
    font-size: 38px; }
  .products p {
    width: 50%; }
  .products__two--box {
    width: 100%; }
    .products__two--box h2 {
      font-size: 40px; }
    .products__two--box p {
      width: 50%; }

  /*** Working on the headings and paragraphs to adjust to the current screen size ****/
  .top--game {
    padding: 30px 0 100px; }
    .top--game h2 {
      font-size: 38px; }
    .top--game p {
      width: 50%;
      font-size: 18px; }

  /**** Making the H2 element word be on a single line instead of wrapping it up on two lines  ****/
  .providers div h2 {
    font-size: 75px; }

  /**** Giving additional space to this specific element.. ****/
  .top--clients {
    padding: 30px 0 10px; }
    .top--clients h2 {
      font-size: 38px; }
    .top--clients p {
      width: 50%;
      font-size: 18px; }

  /***** Adjusting the form element by increasing the h2 font-size, and changing the color etc..  *****/
  .register .contact-us h2 {
    color: white;
    font-size: 54px; }
  .register .contact-us li {
    padding: 10px 0; }
    .register .contact-us li i {
      font-size: 26px;
      border-radius: 20%; } }
@media (min-width: 800px) {
  /**** Using the grid template column to make the contact us and the form align side by side instead of just aligning vertically.. *****/
  .register {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .register .contact-us h2 {
      font-size: 42px; } }
@media (min-width: 920px) {
  /*** Reducing the header height so it can align with the current screen width, and also make it appear more attractive sine the width has increased, the height should decrease.. ***/
  header {
    height: 150px;
    display: grid;
    grid-template-columns: 3fr 7fr; }
    header .head {
      margin-top: 70px; }

  /**** Adjusting the navbar with the menu icon to have larger part than the logo so as to accomodate the navbar links ****/
  .head2 {
    grid-template-rows: 2fr 3fr; }

  nav {
    margin: 30px 5px 0 0;
    padding: -40px 0; }

  .contact {
    margin: -156px 0 96px 30%; }

  .intro--home {
    padding: 40px 0 0 160px; }
    .intro--home h3 {
      font-size: 35px; }
    .intro--home p {
      font-size: 20px;
      width: 70%; }

  /**** Adjusting the cards so they can appear four on a roll since the current screen size can accomodate the four at once.. ***/
  .article {
    grid-template-columns: repeat(4, 1fr);
    /***** Adjusting this to appear 6 in a row  ****/
    /******* Increased the Cards height *****/ }
    .article3 {
      grid-template-columns: repeat(6, 1fr); }
    .article .cards {
      height: 240px; }
    .article .compare {
      margin: 30px 0 35px; }

  /**** Adjusted the the height of the gradient class individually..  ****/
  .products__two {
    /*** Made it align side to side instead of aligning vertically, the current screen is wide enough to accomodate them both ***/ }
    .products__two.gradient {
      height: 440px; }
    .products__two--box {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .products__two--box p {
        padding-top: 30px;
        width: 70%; }

  /**** Working on aligning the two elements horizontally.. ****/
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .products p {
      padding-top: 50px;
      width: 70%; }

  /**** After aligning them on columns, had to put a padding to space the element below a little ***/
  .brands {
    padding: 40px 0 0; } }
@media (min-width: 1120px) {
  .width--one {
    width: 80%;
    margin: 0 auto; }

  .intro--home {
    padding: 50px 0 50px 240px; }
    .intro--home p {
      font-size: 20px;
      width: 60%;
      font-weight: 650; }

  .products {
    padding-bottom: 40px; }

  .products__two .article2 {
    margin: 0 auto; }

  .feedback {
    background: white;
    color: black;
    width: 60%; }

  /*** Adjusting the solution nav bar  ****/
  .platform p {
    width: 60%;
    font-size: 18px;
    padding: 0 0 10px 0; }

  table {
    margin-bottom: 40px; }

  .sec-1, .sec-2, .features {
    margin: 30px auto; }

  /*** Working on the Product nav media query ****/
  .article {
    margin: 40px auto; }

  /*** Putting space below the last element before the footer of the career nav page.. ****/
  .about--fundamental {
    margin-bottom: 30px; } }
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  body.open {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.972), rgba(0, 0, 0, 0.918)); }

.container {
  background-color: white;
  width: 100%; }

header {
  background: linear-gradient(rgba(102, 32, 149, 0.7), rgba(218, 9, 9, 0.7), rgba(19, 14, 14, 0.7)), url("images/img2.jpeg");
  background-size: cover;
  background-position: center;
  background-color: cyan;
  height: 120px;
  display: grid;
  grid-template-columns: 9fr 1fr;
  color: red; }
  header .head {
    text-align: center;
    margin-top: 50px; }
    header .head h2 {
      color: white;
      font-weight: 1400; }
    header .head h4 {
      color: black;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px; }

nav {
  position: fixed;
  top: 1px;
  right: 0;
  background-color: white;
  visibility: hidden; }
  nav.open {
    visibility: visible; }
  nav li {
    font-size: 13px;
    font-weight: 500;
    list-style-type: none;
    border-bottom: 1px solid cyan;
    padding: 11px; }
    nav li:hover {
      background-color: darkcyan;
      transition: ease-in 100ms; }
    nav li.active {
      background-color: #006666;
      color: white; }
    nav li img {
      width: 20px;
      height: 20px;
      border-radius: 50%; }
  nav .menu {
    background-color: black;
    color: white;
    padding: 9px; }
  nav .english {
    padding: 3px;
    margin-top: 180px;
    font-weight: 700; }
  nav a {
    text-decoration: none;
    color: black; }

.head2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 13vw;
  height: 100%;
  background-color: #110e0e; }
  .head2 .img {
    height: 100%;
    width: 100%;
    background-color: #336c74; }
    .head2 .img img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 5px 32% 0 32%; }
  .head2 .menu-nav {
    height: 100%;
    width: 100%;
    background-color: cyan;
    position: relative; }
  .head2 .menu-btn {
    height: 30px;
    width: 30px;
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 1; }
    .head2 .menu-btn.open {
      position: absolute;
      top: -60px;
      right: 140px;
      background-color: transparent; }
    .head2 .menu-btn__burger {
      position: absolute;
      top: 13px;
      right: 0;
      width: 28px;
      height: 3px;
      background-color: #1a4e4e;
      cursor: pointer;
      transition: ease-in 500ms; }
      .head2 .menu-btn__burger.open {
        transform: rotate(180deg);
        background-color: transparent; }
        .head2 .menu-btn__burger.open:before {
          transform: rotate(45deg) translate(5px, 8px);
          transition: ease-in 500ms;
          background-color: red; }
        .head2 .menu-btn__burger.open:after {
          transform: rotate(-45deg) translate(3px, -7px);
          transition: ease-in 500ms;
          background-color: red; }
      .head2 .menu-btn__burger:before {
        position: absolute;
        content: '';
        top: -8px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #1a4e4e;
        transition: ease-in 500ms; }
      .head2 .menu-btn__burger:after {
        position: absolute;
        content: '';
        top: 8px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #1a4e4e;
        transition: ease-in 500ms; }
        .head2 .menu-btn__burger:after.open {
          transform: rotate(45deg) translate(5px, 8px);
          transition: ease-in 500ms; }

.contact {
  height: 155px;
  width: 100%;
  background: rgba(255, 1, 200, 0.37); }
  .contact.contact--hide {
    display: none; }
  .contact ul {
    padding-top: 30px; }
  .contact li {
    text-align: center;
    line-height: 26px; }
    .contact li:hover {
      background: transparent;
      padding: 1px;
      transition: ease-in 300ms; }
    .contact li i {
      font-size: 20px;
      color: red; }
    .contact li a {
      color: black;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500; }
      .contact li a:hover {
        background-color: #24585f; }

.intro {
  height: 170px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/img8.jpeg");
  background-size: cover;
  background-position: center;
  color: white; }
  .intro a {
    color: cyan;
    border-bottom: 1px solid #999999;
    text-decoration: none; }
    .intro a:hover {
      border-bottom: 1px solid cyan;
      color: cyan; }
  .intro h3 {
    font-size: 20px;
    padding: 30px 0 20px 25px; }
  .intro p {
    font-size: 13px;
    padding: 0 14px 0 25px;
    font-weight: 600;
    color: white; }

.products, .products__2 {
  height: 130px;
  width: 100%;
  margin-bottom: 40px; }
  .products h2, .products__2 h2 {
    font-size: 26px;
    font-weight: 900;
    padding: 30px 0 15px 25px; }
  .products p, .products__2 p {
    font-size: 14px;
    color: grey;
    padding: 0 14px 0 25px;
    font-weight: 600; }
    .products p span, .products__2 p span {
      color: #348585; }

.article {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .7em; }
  .article .cards {
    height: 200px;
    width: 100%;
    background-color: #42e7e7; }
    .article .cards:hover, .article .cards .compare:hover {
      background-color: #3bb4b4; }
    .article .cards a {
      padding-left: 15px;
      color: black;
      text-decoration: none; }
      .article .cards a:hover {
        padding-left: 20px;
        transition: ease-in 200ms; }
      .article .cards a h3 {
        padding: 5px 0 10px 15px; }
      .article .cards a p, .article .cards a a {
        font-size: 11px;
        padding: 0 0 40px 15px; }
      .article .cards a .a {
        font-size: 10px; }
  .article .compare {
    margin: -30px 0 35px;
    background-color: #42e7e7; }
    .article .compare a {
      text-decoration: none;
      color: black; }
    .article .compare.hide {
      visibility: hidden; }

.products__two {
  background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url("images/img8.jpeg") center center no-repeat;
  background-size: cover;
  background-position: center;
  height: 580px;
  width: 100%;
  color: white;
  margin-bottom: 40px; }
  .products__two.gradient {
    background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url("images/img5.jpeg");
    background-size: cover;
    background-position: center;
    height: 700px; }
  .products__two i {
    font-size: 35px;
    color: #d3e6e6; }
  .products__two h2 {
    font-size: 26px;
    font-weight: 900;
    padding: 30px 0 15px 25px; }
  .products__two p {
    font-size: 14px;
    color: white;
    padding: 0 14px 0 25px;
    font-weight: 600;
    margin-bottom: 50px; }
    .products__two p span {
      color: #44b4b4; }
  .products__two .article2 {
    margin: 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7em; }
  .products__two-cards {
    padding-left: 30px;
    height: 50px;
    border-bottom: 1px solid grey; }
    .products__two-cards--box {
      width: 100%; }
    .products__two-cards p {
      visibility: hidden; }
    .products__two-cards span i {
      height: 180px;
      width: 180px;
      color: red; }
  .products__two a {
    text-decoration: none;
    color: white;
    font-weight: 600; }

section h2 {
  margin: 0 0 12px 30px;
  font-weight: 800; }
section p {
  font-size: 12px;
  margin: 0 0 50px 30px;
  color: grey;
  font-weight: 700; }
section .brands i {
  font-size: 60px;
  color: #141313;
  padding: 15px; }
section .brands-2 i {
  font-size: 80px;
  color: #a52d2d;
  padding: 18px; }

.providers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .providers h2 {
    font-size: 40px;
    font-weight: 500;
    border-bottom: 1px solid grey;
    padding-bottom: 10px; }
  .providers span {
    margin: 0 0 30px 30px; }
  .providers div {
    margin-bottom: 20px; }
  .providers-section {
    background-color: rgba(218, 216, 216, 0.609);
    height: 460px;
    margin-bottom: 20px; }
    .providers-section h2 {
      color: rgba(0, 0, 0, 0.856); }

.feedback {
  margin: 30px 0;
  background: linear-gradient(rgba(8, 5, 10, 0.7), rgba(14, 10, 10, 0.7), rgba(19, 14, 14, 0.7)), url("images/img2.jpeg");
  background-position: center;
  background-size: cover;
  font-size: 16px;
  font-weight: 600;
  height: 300px;
  align-content: center;
  color: white; }
  .feedback p {
    padding: 50px 20px 0; }

.article3 {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .article3 .i {
    border-bottom: 1px solid grey;
    margin-bottom: 15px; }
    .article3 .i i {
      margin: 0 0 20px 10px; }
  .article3 p {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 25px 0; }
  .article3 div {
    margin-left: 10px; }

.register {
  background: linear-gradient(rgba(14, 216, 223, 0.712), rgba(7, 243, 231, 0.712), rgba(36, 245, 200, 0.712)), url("images/img9.jpeg");
  background-size: cover;
  background-position: center;
  padding: 80px 0; }
  .register .contact-us {
    width: 60%;
    margin: 0 auto; }
    .register .contact-us h2 {
      color: grey;
      font-size: 50px;
      font-weight: 900; }
    .register .contact-us ul {
      padding-top: 30px; }
    .register .contact-us li {
      text-align: center;
      line-height: 26px;
      list-style-type: none; }
      .register .contact-us li i {
        font-size: 22px;
        background-color: grey;
        border-radius: 50%;
        color: white;
        margin-left: -30px; }
      .register .contact-us li a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500; }
  .register .form {
    width: 300px;
    background-color: rgba(235, 241, 241, 0.911);
    margin: 0 auto;
    border-radius: .9em; }
  .register label, .register textarea {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 5%;
    padding-top: 10px; }
    .register label span, .register textarea span {
      color: grey; }
  .register input, .register textarea {
    width: 90%;
    height: 30px;
    border-radius: .8em;
    margin: 0 0 0 5%; }
  .register textarea {
    height: 100px; }
  .register button {
    background-color: cyan;
    color: black;
    width: 40%;
    border-radius: .8em;
    height: 30px;
    margin: 0 0 5% 5%;
    cursor: pointer; }
    .register button:hover {
      background-color: black;
      color: cyan;
      transition: ease-in 300ms; }

.section-last {
  background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.829)), url("images/img5.jpeg");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 1px; }
  .section-last h3 {
    font-size: 16px;
    color: white;
    margin: 0 20px 15px 20px;
    padding: 30px 0 5px 0;
    border-bottom: 2px solid grey; }

.solution li, .product li, .game-provider li, .about-us li, .legal li {
  list-style-type: none; }
  .solution li a, .product li a, .game-provider li a, .about-us li a, .legal li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    margin: 0 20px 15px 20px;
    color: grey; }
    .solution li a:hover, .product li a:hover, .game-provider li a:hover, .about-us li a:hover, .legal li a:hover {
      color: #00d6d6; }

.solution--footer, .product--footer, .game--footer {
  display: grid;
  grid-template-columns: 1fr 1fr; }

footer {
  background-color: #e213a4;
  color: white;
  text-align: center;
  font-weight: 500; }
  footer span {
    font-weight: 300; }

@media (min-width: 620px) {
    /*** This is the div container element..
    .container {

    }
    ***/
  /* Working on the header increase the height along with a higher px   ****/
  header {
    height: 160px; }
    header .head {
      margin-top: 90px; }
    header h2 {
      font-size: 30px; }
    header h4 {
      font-size: 14px; }

  /* Adjusting the navigation button by the right hand side  ****/
  .menu-nav .menu-btn {
    height: 50px;
    width: 50px;
    top: 16px;
    right: 16px; }
    .menu-nav .menu-btn__burger {
      height: 4px;
      width: 35px;
      right: 5px;
      top: 20px; }

  /****  Working on the various navbar headers, so the height increases along with the new view width ***/
  .intro, .intro--solution {
    height: 220px; }
    .intro h3, .intro--solution h3 {
      font-size: 40px;
      padding-top: 130px; }
    .intro--home h3, .intro--solution--home h3 {
      padding-top: 10px; }

  /**** Adjusting the grid from two columns to three columns immediately the view width reaches 620px and above  ***/
  .article3 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .article3 .i {
      border-bottom: 1px solid grey;
      margin-bottom: 15px; }
      .article3 .i p {
        font-size: 14px; }
    .article3 div {
      margin-left: 10px; }

  /*** Working on the paragraphs so as to make visible once the screen reaches 620px in width so as to show the hidden paragraph.. ****/
  .products__two {
    height: 1100px;
    /*** This makes the paragraph shrinks in width as it's better having the paragraph wrap and not just straight therefore straining the eyes while trying to read it ****/ }
    .products__two.gradient {
      height: 800px; }
    .products__two i {
      font-size: 55px;
      color: #d3e6e6; }
    .products__two-cards {
      padding-left: 30px;
      height: 150px;
      border-bottom: 1px solid grey; }
      .products__two-cards p {
        visibility: visible;
        font-size: 12px;
        margin-top: 10px; }
      .products__two-cards span {
        font-size: 18px;
        font-weight: 800;
        padding: 0 0 15px 10px; }
    .products__two--box {
      width: 50%; }

  .sec-1 p {
    width: 50%;
    font-size: 18px; }
  .sec-1 h2 {
    font-size: 30px; }

  /****  Increasing the paragraoh and the header sizes so as to align with the new screen width. ****/
  .features h2, .sec-2 h2, pa h2 {
    font-size: 30px; }
  .features p, .sec-2 p, pa p {
    font-size: 22px;
    color: black;
    font-weight: 500; }

  /**** Styling the first paragraph underneath the header element ****/
  .para p {
    padding: 45px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; }

  /**** Working on the "Products PAge" Increasing the h4 elements and the paragraoh font to fit in with the new screen width.. ***/
  .section--products .card--products h4 {
    font-size: 22px; }
  .section--products .card--products p {
    font-size: 14px; }

  /*** Working on the FAQ page, increasing the font sizes of both the h3 elements and the paragragphs element...  ***/
  .divs h2 {
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 32px; }
  .divs p {
    font-size: 14px;
    font-weight: 450; }

  /*** Working on the "CAREER" page, increasing the font sizes of both the h3 elements and the paragragphs element ******/
  .div {
    padding: 40px 15px 20px; }
    .div h2 {
      font-size: 35px;
      margin: 0 0 20px 0; }
    .div li {
      font-size: 14px;
      font-weight: 480; }
    .div p {
      margin: 15px 0;
      font-size: 14px;
      font-weight: 450;
      font-style: italic; }

  /*** Working on the "About Us page", increasing the font sizes of both the h3 elements and the paragragphs element ****/
  .section--about {
    margin: 40px 20px 10px;
    font-size: 12px; }
    .section--about p {
      padding: 15px 0; }
    .section--about h2 {
      font-size: 30px;
      margin: 0 0 15px; }
    .section--about img {
      width: 90%;
      margin: 10px 5%; }
    .section--about a {
      color: #006666; }
      .section--about a:hover {
        text-decoration: none; }
    .section--about li {
      margin: 4px 0 0 40px;
      font-weight: 500; }

  .press h2 {
    font-size: 38px; }
  .press li {
    font-size: 14px;
    font-weight: 480; }

  .about--text__images {
    grid-template-columns: 1fr 1fr; }
    .about--text__images img {
      height: 300px; }

  .about--awards h2 {
    font-size: 38px; } }
@media (min-width: 720px) {
  /**** Working on making the header height bigger and adjusting the grid template columns to make the sidebar wider than the H1 //frizzgamings box ****/
  header {
    height: 200px;
    display: grid;
    grid-template-columns: 3fr 7fr; }

  /**** Adjusting the navbar with the menu icon to have larger part than the logo so as to accomodate the navbar links ****/
  .head2 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 70vw;
    height: 100%;
    background-color: #110e0e; }

  /***** Making the menu button visibility hidden ****/
  .menu-btn {
    visibility: hidden; }

  /**** Working on making the navbar display inline and removing the background color etc, and making it align properly at the top of the page.. **/
  nav {
    position: absolute;
    background-color: transparent;
    visibility: visible;
    margin: 70px 5px 0 0;
    width: 70%;
    height: 100px;
    padding: -40px 0;
    text-align: center; }
    nav li {
      display: inline;
      font-size: 15px;
      font-weight: 500;
      border-bottom: none;
      padding: 0 0 0 10px;
      margin: -10px 8px 0 0; }
      nav li:hover {
        background-color: #2eeeee; }
    nav .menu {
      visibility: hidden; }

  /**** Shifting the contact numbers and social media links to the top of the page beside the website name ****/
  .contact {
    height: 60px;
    width: 50%;
    margin: -200px 0 140px 30%; }
    .contact.contact--hide {
      display: block; }
    .contact ul {
      padding: 10px 10px 0 0; }
    .contact li {
      display: inline; }
      .contact li a {
        color: white; }
        .contact li a:hover {
          background-color: #12d0e9;
          padding: 4px;
          transition: ease-in 300ms; }

  /*** Making the image by the right handside smaller and shifting it to the right to accomodate the contact numbers  ****/
  .head2 .img img {
    width: 20px;
    height: 20px;
    margin: 5px 5% 0 90%; }

  /*** Aligning the index's page element underneath the contact element to align it differently than the rest of other elemnts it shared classname with.. ****/
  .intro--home {
    padding-left: 60px; }
    .intro--home h3 {
      font-size: 25px; }
    .intro--home p {
      font-size: 16px;
      width: 50%; }

  /*** Working on making the Headings bolder ****/
  .products h2 {
    font-size: 38px; }
  .products p {
    width: 50%; }
  .products__two--box {
    width: 100%; }
    .products__two--box h2 {
      font-size: 40px; }
    .products__two--box p {
      width: 50%; }

  /*** Working on the headings and paragraphs to adjust to the current screen size ****/
  .top--game {
    padding: 30px 0 100px; }
    .top--game h2 {
      font-size: 38px; }
    .top--game p {
      width: 50%;
      font-size: 18px; }

  /**** Making the H2 element word be on a single line instead of wrapping it up on two lines  ****/
  .providers div h2 {
    font-size: 75px; }

  /**** Giving additional space to this specific element.. ****/
  .top--clients {
    padding: 30px 0 10px; }
    .top--clients h2 {
      font-size: 38px; }
    .top--clients p {
      width: 50%;
      font-size: 18px; }

  /***** Adjusting the form element by increasing the h2 font-size, and changing the color etc..  *****/
  .register .contact-us h2 {
    color: white;
    font-size: 54px; }
  .register .contact-us li {
    padding: 10px 0; }
    .register .contact-us li i {
      font-size: 26px;
      border-radius: 20%; } }
@media (min-width: 800px) {
  /**** Using the grid template column to make the contact us and the form align side by side instead of just aligning vertically.. *****/
  .register {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .register .contact-us h2 {
      font-size: 42px; } }
@media (min-width: 920px) {
  /*** Reducing the header height so it can align with the current screen width, and also make it appear more attractive sine the width has increased, the height should decrease.. ***/
  header {
    height: 150px;
    display: grid;
    grid-template-columns: 3fr 7fr; }
    header .head {
      margin-top: 70px; }

  /**** Adjusting the navbar with the menu icon to have larger part than the logo so as to accomodate the navbar links ****/
  .head2 {
    grid-template-rows: 2fr 3fr; }

  nav {
    margin: 30px 5px 0 0;
    padding: -40px 0; }

  .contact {
    margin: -156px 0 96px 30%; }

  .intro--home {
    padding: 40px 0 0 160px; }
    .intro--home h3 {
      font-size: 35px; }
    .intro--home p {
      font-size: 20px;
      width: 70%; }

  /**** Adjusting the cards so they can appear four on a roll since the current screen size can accomodate the four at once.. ***/
  .article {
    grid-template-columns: repeat(4, 1fr);
    /***** Adjusting this to appear 6 in a row  ****/
    /******* Increased the Cards height *****/ }
    .article3 {
      grid-template-columns: repeat(6, 1fr); }
    .article .cards {
      height: 240px; }
    .article .compare {
      margin: 30px 0 35px; }

  /**** Adjusted the the height of the gradient class individually..  ****/
  .products__two {
    /*** Made it align side to side instead of aligning vertically, the current screen is wide enough to accomodate them both ***/ }
    .products__two.gradient {
      height: 440px; }
    .products__two--box {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .products__two--box p {
        padding-top: 30px;
        width: 70%; }

  /**** Working on aligning the two elements horizontally.. ****/
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .products p {
      padding-top: 50px;
      width: 70%; }

  /**** After aligning them on columns, had to put a padding to space the element below a little ***/
  .brands {
    padding: 40px 0 0; } }
@media (min-width: 1120px) {
  .width--one {
    width: 80%;
    margin: 0 auto; }

  .intro--home {
    padding: 50px 0 50px 240px; }
    .intro--home p {
      font-size: 20px;
      width: 60%;
      font-weight: 650; }

  .products {
    padding-bottom: 40px; }

  .products__two .article2 {
    margin: 0 auto; }

  .feedback {
    background: white;
    color: black;
    width: 60%; }

  /*** Adjusting the solution nav bar  ****/
  .platform p {
    width: 60%;
    font-size: 18px;
    padding: 0 0 10px 0; }

  table {
    margin-bottom: 40px; }

  .sec-1, .sec-2, .features {
    margin: 30px auto; }

  /*** Working on the Product nav media query ****/
  .article {
    margin: 40px auto; }

  /*** Putting space below the last element before the footer of the career nav page.. ****/
  .about--fundamental {
    margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
