* {
    margin: 0;
    padding: 0;
}

$primary-color: white;
$secondary-color: cyan;
$black : black;
$red : rgb(160, 116, 116);
$burger: rgb(26, 78, 78);

body {
    background: $primary-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &.open {
        position: absolute;
        z-index: 1;
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7),);
    }
}

.container {
    height: 1200px;
    //overflow-x: hidden;
}


header {
    background: url('images/img2.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%;
    color: $primary-color;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 9fr 1fr;
    color: $black;
    .head {
        text-align: center;
        margin-top: 50px;
    }

    h4 {
        color: rgb(195, 24, 18);
        font-weight: 600;
        text-transform: uppercase;
        font-size: 11px;
    }
} 

nav {
    position: fixed;
    top: 1px;
    right: 0;
    width: 140px;
    height:120vw;
    background-color: rgb(246, 243, 243);
    visibility: hidden;
    &.open {
        visibility: visible;
    }
    li {
        font-size: 13px;
        font-weight: 500;
        list-style-type: none;
        border-bottom: 1px solid rgb(31, 219, 194);
        padding: 11px;
        &:hover {
            background-color: darkcyan;
            transition: ease-in 100ms;
        }
        
        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
    .menu {
        background-color: black;
        color: white;
        padding: 9px;
    }
    .english {
        padding: 3px;
        margin-top: 180px;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.head2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 13vw;
    height: 100%;
    background-color: rgb(17, 14, 14);
    .img {
        height: 100%;
        width: 100%;
        background-color: rgb(51, 108, 116);
        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin:5px 32% 0 32%;
        }
    }

    .menu-nav {
        height: 100%;
        width: 100%;
        background-color: rgb(41, 236, 236);
        position: relative;
    }
    .menu-btn {
        height: 30px;
        width: 30px;
        background-color: transparent;
        position: absolute;
        top: 16px;
        right: 20px;
        z-index: 1;
       // margin:28px 20px 0 0;
        &.open {
            transform: rotate(720deg);
            position: absolute;
            top: -60px;
            right: 140px;
            background-color: transparent;
        }
        &__burger {
            position: absolute;
            top: 13px;
            right: 0;
            width: 28px;
            height: 3px;
            background-color: $burger;
            cursor: pointer;
            transition: ease-in 500ms;
            &.open {
                transform: rotate(360deg);
                background-color: transparent;
                &:before {
                    transform: rotate(45deg) translate(5px, 8px);
                    transition: ease-in 500ms;
                    background-color: $primary-color;
                }
                &:after {
                    transform: rotate(-45deg) translate(3px, -7px);
                    transition: ease-in 500ms;
                    background-color: $primary-color;
                }
            }
            &:before {
                position: absolute;
                content: '';
                top: -8px;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: $burger;
                transition: ease-in 500ms;
            }
            &:after {
                position: absolute;
                content: '';
                top: 8px;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: $burger ;
                transition: ease-in 500ms;
                &.open {
                    transform: rotate(45deg) translate(5px, 8px);
                    transition: ease-in 500ms;
                }
            }
        }
    }
}

.contact {
    height: 185px;
    width: 100vw;
    background: url('images/img3.jpeg') center center no-repeat;
    background-size: cover;
    background-position: center;
    ul {
        padding-top: 30px;
    }
    li {
        text-align: center;
        line-height: 26px;
        a {
            color: $primary-color;
            text-decoration: none;
            font-size: 13px;
            font-weight: 500;
            &:hover {
                background-color: #24585f;
                padding: 4px;
            }
        }
    }
}

.intro {
    height: 170px;
    width: 100%;
    background: url('images/img5.jpeg');
    background-size: cover;
    background-position: center;
    color: $black;
    h3 {
        font-size: 20px;
        padding: 30px 0 20px 25px;
    }
    p {
        font-size: 13px;
        padding:0 14px 0 25px;
    }
}

.products, .products__2 {
    height: 130px;
    width: 100%;
    h2 {
        font-size: 26px;
        font-weight: 900;
        padding: 30px 0 15px 25px;
    }
    p {
        font-size: 14px;
        color: grey;
        padding:0 14px 0 25px;
        font-weight: 600;
        span {
            color: rgb(52, 133, 133);
        }
    }
}

.article {
    margin: 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7em;
    .cards {
        height: 200px;
        width:100%;
        background-color: rgb(66, 231, 231);
        &:hover, .compare:hover {
            background-color: rgb(59, 180, 180);
        }
        a {
            &:hover {
                padding-left: 20px;
                transition: ease-in 200ms;
            }
            padding-left: 15px;
            color: black;
            text-decoration: none;
            h3 {
                padding:5px 0 10px 15px;
            }
            p, a {
                font-size: 11px;
                padding:0 0 40px 15px;
            }
            .a {
                font-size: 10px;
            }
        }
    }
    .compare {
        margin: 30px 0 35px;
        background-color: rgb(66, 231, 231);
        a {
            text-decoration: none;
            color: black;
        }
    }
    .hide {
        visibility: hidden;
    }
}

.products__two {
    background: url('images/img8.jpeg') center center no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 100%;
    color: $primary-color;
    h2 {
        font-size: 26px;
        font-weight: 900;
        padding: 30px 0 15px 25px;
    }
    p {
        font-size: 14px;
        color: rgb(255, 255, 255);
        padding:0 14px 0 25px;
        font-weight: 600;
        margin-bottom: 50px;
        span {
            color: rgb(68, 180, 180);
        }
    }
    .article2 {
        margin: 10px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .7em;
    }
    &-cards {
        height: 50px;
        border-bottom: 1px solid rgba(175, 165, 165, 0.349);
    }

    a {
        padding: 30px;
        text-decoration: none;
        color: $primary-color;
    }
}

